<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org"
      xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head>
    <meta charset="UTF-8">
    <title>Todo list</title>
</head>
<body>
<form th:action="@{/api/todo-create}" method="post">
    <div><label> Введите текст : <input type="text" name="text"/> </label></div>
    <div><input type="submit" value="Отправить"/></div>
</form>
Todo list
<table border="1">
    <tr>
        <th>ID</th>
        <th>Текст</th>
        <th></th>
    </tr>

    <tr th:each="todos : ${todo}">
        <td th:text="${todos._id}"> </td>
        <td th:text="${todos.text}"></td>
        <td>
            <button>
                <form th:action="@{/api/todo-delete}" method="post">
                    <div><label><input hidden type="text" name="id" th:value="${todos._id}"/> </label></div>
                    <div><input type="submit" value="Удалить"/></div>
                </form>
            </button>
        </td>
    </tr>
</table>
</body>
</html>